header {
    margin-top: var(--margin-big);
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.header-profile-image {
    min-width: 500px;
    max-width: 100%;
}

@media (max-width: 1600px) {
    .header-hidden {
        display: none;
    }
}

@media (max-width: 1150px) {
    .header-profile-image {
        min-width: 350px;
    }
}

@media (max-width: 50em) {
    header {
        display: block;
    }

    .header-profile {
        margin-top: var(--margin-small);
    }

    .header-profile-image {
        min-width: 100%;
    }
}
  
@media (max-width: 37em) {
}